.navbar-nav {
    display: inline-block;
}

.navbar-default {
    text-align: center;
}

.navbar-light {
    background: #5593B3;
} 

.navbar.container-fluid.nav-item.nav-link.color-text {
    color: #ffffff;
}